Igual que en el ejercicio de pair programming de ETL Transformación II, tendréis que crear una clase que nos permita cargar los datos en SQL I

In [2]:
from IPython.core.interactiveshell import InteractiveShell # Nos permite mostar más de una salida por celda
InteractiveShell.ast_node_interactivity = "all" # Nos permite mostar más de una salida por celda

import requests
import pandas as pd
import numpy as np
import pandas as pd
import mysql.connector
pd.options.display.max_columns=None

df= pd.read_csv('../Datos/datos_union_clima_ataques.csv', index_col=0)

In [3]:
class Crear_bbdd_tablas:
    #definimos los atributos
    
    def __init__(self, nombre_bbdd, contraseña):
        self.nombre_bdd= nombre_bbdd
        self.contraseña= contraseña
        
    
    def crear_bbdd(self):

        mydb = mysql.connector.connect(
        host='127.0.0.1',
        user="root",
        password=f'{self.contraseña}'
        )
        print("Conexión realizada con éxito")
        
        mycursor = mydb.cursor()

        try:
            mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {self.nombre_bbdd};")
            print(mycursor)
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)



    def crear_insertar_tabla(self, query):
        
        # nos conectamsos con el servidor usando el conector de sql
        cnx = mysql.connector.connect(user='root', password=f"{self.contraseña}",
                                        host='127.0.0.1', database=f"{self.nombre_bbdd}")
        # iniciamos el cursor
        mycursor = cnx.cursor()
        
        # intentamos hacer la query
        try: 
            mycursor.execute(query)
            cnx.commit() 
        # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
        except mysql.connector.Error as err:
            print(err)
            print("Error Code:", err.errno)
            print("SQLSTATE", err.sqlstate)
            print("Message", err.msg)

In [6]:
contraseña = 'anto'

In [7]:
a=Crear_bbdd_tablas('gatos', contraseña)

In [23]:

a.crear_bbdd()

TypeError: crear_bbdd() takes 1 positional argument but 2 were given